.Weather {
  border-radius: 4px;
  font-family: Arial, Helvetica, sans-serif;
  border: 1px solid coral;
  border-radius: 4px;
  color: white;
  background-color: coral;
  padding: 16px;
}
.Weather form {
  margin-bottom: 20px;
}

.Weather h1 {
  color: lightskyblue;
  font-size: 24;
  font-weight: 100;
  margin: 20px 0 0 0;
  line-height: 29px;
}
.Weather ul {
  margin: 0;
  padding: 0;
}

.Weather li {
  color: lightpink;
  font-size: 16px;
  line-height: 19px;
  list-style: none;
}
.Weather canvas {
  margin: 10px auto;
}

.Weather .temperature {
  color: lightyellow;
  font-size: 64px;
  line-height: 64px;
  margin-left: 5px;
  margin-left: 10px;
}

.Weather .unit {
  color: lightyellow;
  font-size: 16px;
  position: relative;
  top: -34px;
  margin-left: 0;
  line-height: 1;
}
