.Weather {
  padding: 16px;

  max-width: 600px;
  border-radius: 4px;
  font-family: Arial, Helvetica, sans-serif;
  border: 1px solid coral;
  color: white;
  background-color: coral;
}
.Weather form {
  margin-bottom: 20px;
}

.Weather h1 {
  color: lightskyblue;
  font-size: 24;
  font-weight: 100;
  margin: 10px;
}
.Weather ul {
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 0;
}

.Weather li {
  color: lightpink;
  font-size: 12;
  list-style: none;
}
.Weather canvas {
  margin-right: 10px;
  margin-top: 5px;
  height: 48px;
  width: 48px;
  display: inline-block;
}

.Weather .temperature {
  color: lightyellow;
  font-size: 48px;
  line-height: 64px;
}

.Weather .unit {
  color: lightyellow;
  font-size: 16px;
  position: relative;
  top: -34px;
  margin-left: 0;
  line-height: 1px;
}
