.Weather {
  border-radius: 4px;
  font-family: Arial, Helvetica, sans-serif;
  border: 1px solid white;
  border-radius: 4px;
  color: white;
  background: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
  padding: 16px;
}
.Weather form {
  margin-bottom: 20px;
}

.Weather h1 {
  color: #ff44cc;
  font-size: 32px;
  font-weight: 100;
  margin: 20px 0 0 0;
  line-height: 29px;
}
.Weather ul {
  margin: 0;
  padding: 0;
}

.Weather li {
  color: white;
  font-size: 16px;
  line-height: 19px;
  list-style: none;
}
.Weather canvas {
  margin: 10px auto;
}

.Weather .temperature {
  color: blueviolet;
  font-size: 64px;
  line-height: 64px;

  margin-left: 10px;
}

.Weather .unit {
  color: blueviolet;
  font-size: 20px;
  position: relative;
  top: -34px;
  margin-left: 0;
  line-height: 1;
}
